doctype html
html(lang='en')
	head
		meta(charset=data.meta.charset)
		meta(name='viewport' content=data.meta.viewport)
		meta(name='description' content=data.meta.description)
		title Pagery Test
		style
			!= css